# Added by Payload

# Recommended for most uses
DATABASE_URL=postgres://neondb_owner:npg_o7AfFJsuhT1l@ep-patient-breeze-a135r0qt-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_o7AfFJsuhT1l@ep-patient-breeze-a135r0qt.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-patient-breeze-a135r0qt-pooler.ap-southeast-1.aws.neon.tech
PGHOST_UNPOOLED=ep-patient-breeze-a135r0qt.ap-southeast-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_o7AfFJsuhT1l

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgres://neondb_owner:npg_o7AfFJsuhT1l@ep-patient-breeze-a135r0qt-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgres://neondb_owner:npg_o7AfFJsuhT1l@ep-patient-breeze-a135r0qt.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-patient-breeze-a135r0qt-pooler.ap-southeast-1.aws.neon.tech
POSTGRES_PASSWORD=npg_o7AfFJsuhT1l
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgres://neondb_owner:npg_o7AfFJsuhT1l@ep-patient-breeze-a135r0qt-pooler.ap-southeast-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgres://neondb_owner:npg_o7AfFJsuhT1l@ep-patient-breeze-a135r0qt-pooler.ap-southeast-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require



PAYLOAD_SECRET=4bdae1d600e94dd0705d0832
# NEXT_PUBLIC_SERVER_URL=http://localhost:3000
CRON_SECRET=YOUR_CRON_SECRET_HERE
PREVIEW_SECRET=YOUR_SECRET_HERE
IG_ACCESS_TOKEN=EAAJSDuvloiYBO5eATCdviNP7yA5in46R6lqLnMqFEpO2ZB5jq0fBrAm6YDOE68GhOUjKZCZB2h5oZBAP9MVxIzQDQDbxLOq6O0q945sK7xK1ox379JCNrUWjpx0qkK4TXZCYBV66zfOrEjlFBcWYLElSSZBYk975Dnw3Kh5ihgHBmm2jPu6kw8F3TZB67xd0AWC4CZAN22FmiaUewUqoC3nxdZCrFuJQZD
IG_USER_ID=17841472080511821
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlXzVjODA2OThjZmQ5NmFiOThmMjcxZmZhZmYyMjI0MDc0Mzc3ODVhNGVhNzU4YzExN2E1ZTU4YjM1ZjJkNjcwYzYiLCJhcHBJZCI6InltNHQ2cjZ6ZW4iLCJyZWdpb25zIjpbInNlYTEiXX0='

NEXT_PUBLIC_ELASTIC_API_KEY=830F49D6C5DDDD0FD430D67BDD90DDA9E60B982A6016772497405737790EF881B21A3360420A0A45C214D28381AADA7C
NEXT_PUBLIC_ELASTIC_EMAIL_FROM=hello@magictable.in
NEXT_PUBLIC_ELASTIC_EMAIL_TO=magictable2025@gmail.com
SMTP_HOST=smtp.elasticemail.com  
SMTP_PORT=2525 
SMTP_USER=hello@magictable.in
SMTP_PASS=D9F882D55571737E474D10BF6D907949AF8C
SMTP_FROM_EMAIL=hello@magictable.in
SMTP_TO_EMAIL=magictable2025@gmail.com

